node_modules
dist
dist-ssr
*.local
.DS_Store
.env
.env.local
*.log
.idea
.vscode
.turbo
.pnpm-store
coverage
*.tsbuildinfo
apps/gen-api/run
**/run/
.nuxt/
.output/
noetBrett-onboarding/
.tmp-geo
apps/gen-api/logs/
